@media (max-width: 1024px) {
  .infos-gerais .info-boxes {
    width: 100%;
    flex-direction: column;
    margin-bottom: 35px;
    margin-top: 0;
    padding: 10px 32px 25px 32px;
    /* align-items: center !important; */
  }

  .infos-gerais .info-boxes .info-boxes-content {
    width: 100%;
    text-align: center;
  }

  .infos-gerais .info-boxes .info-boxes-content p {
    text-align: left;
  }

  .divider img {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    margin-left: 20px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;  
  }
  nav ul li {
   display: block;
   margin: 50px 0;
   line-height: 30px;
  }
  nav ul li a {
    font-size: 20px; 
  }
  a:hover,a.active {
    background: none;
    color: #000;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .boxes-banner {
    flex-direction: column;
    align-items: center;
  }
  .box-banner {
    width: 90%;
    margin-top: 20px;
  }
  .box-1 {
    background-position: -6%;
    margin-right: 40px;
  }
  .box-2 {
    background-position: -6%;
    margin-right: 20px;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  footer {
    position: fixed;
    display: block;
    font-size: 14px;
    max-height: 600px;
    text-align: center;
    transition: all .5s;
  }
}

@media (max-width: 858px) {
  .main-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
  
  }
 .left-footer {
   margin-right: 60px;
 }
 .right-footer {
   margin-left: 35px;
   padding-right: 10px;
 }
 .center-footer {
  margin-right: 90px;
 }
  .footer-content p{
    max-width: 200px;
  }
}

@media (max-width: 500px) {
 .box-2 {
    background-position: -15%;
  }
}
