@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/* FOOTER */

footer {
  font-family: 'Ubuntu', sans-serif;
  color: #000; 
   /* position: fixed; */
  /* bottom: 0px; */
  width: 100%;
  background-color: #fff;  
  padding-top: 3px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(0, 0 , 0, .2);
  box-shadow: 0px 0px 4px 0px rgba(0, 0 , 0, .4);
  margin-top: 30px;
}

.main-footer {
  display: flex;
}

.main-footer .box {
  flex-basis: 50%;
  padding: 10px 20px;  /* muda aqui para 10px 20px*/
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  
}

.box {
  margin-top: 10px;
}

.box .footer-content {
  margin: 15px 0 0 0;
}

.left-footer .footer-content p {
  width: 320px;
  text-align: content;
  color: rgba(0,160,227,1);
}

.left-footer .footer-content .social {
  margin: 20px 0 0 0;
}

.left-footer .footer-content .social a {
  padding: 0 2px;
  color: rgba(0,160,227,1);
}

.left-footer .footer-content .social a .fa-facebook-f{
  height: 40px;
  width: 40px;
  color: rgba(0,160,227,1);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}  

.left-footer .footer-content .social a .fa-twitter {
  height: 40px;
  width: 40px;
  color: rgba(0,160,227,1);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}  

.left-footer .footer-content .social a .fa-instagram {
  height: 40px;
  width: 40px;
  color: rgba(0,160,227,1);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}  

.left-footer .footer-content .social a .fa-youtube {
  height: 40px;
  width: 40px;
  color: rgba(0,160,227,1);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}  



/* .left-footer .footer-content .social a .fa-facebook-f:hover {
  background:  #d0472a;
  color: #fff;
}

.left-footer .footer-content .social a .fa-twitter:hover {
  background:  rgba(0,160,227,1);
  color: #fff;
}

.left-footer .footer-content .social a .fa-instagram:hover {
  background:  
  color: #fff;
}

.left-footer .footer-content .social a .fa-youtube:hover {
  background:  #246182;
  color: #fff;
} */



.right-footer {
  margin-right: 20px;
}

.left-footer {
  margin-left: 20px;
}

.center-footer {
  margin-left: 110px;
}

.phone .number{
  margin-top: 20px;
}

.center-footer .fas{
  margin-top: 20px;
} 
.center-footer .text {
  color: rgba(0,160,227,1);
  margin-left: 10px;
}

.center-footer span {
  color: rgba(0,160,227,1);;
}
.place .fas{
  margin-top: -20px;
}


.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.email-footer {
  box-sizing: border-box;
  margin-bottom: 11px;
  border: 1px solid #000;
  border-radius: 4px;  
  height: 28px;
  width: 100%;
  font-size: 14px;
  padding-left: 8px;
}

.msg-footer {
  box-sizing: border-box;
  margin-bottom: 10px;
  border:  1px solid #000;
  border-radius: 4px;  
  height: 35px;
  width: 100%;
  font-size: 14px;
  padding: 8px;
  outline: none;
}

.submit-footer {
  width: 100%;
  background: #d25a9c;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.submit-footer:hover {
  background: rgba(0,160,227,1);
  border: 1px solid rgba(0,160,227,1);;
  color: #fff;  
}
