@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rokkit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none; 
}

input {
  outline: 0;
}

::-webkit-scrollbar {  
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.500);
  border-radius: 16px;
}


ul { 
  text-decoration: none;
  list-style-type: none;
}


nav {
  font-family: 'Ubuntu', sans-serif;
  background-color: #FFF;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0 , 0, .2);
  box-shadow: 0px 0px 4px 0px rgba(0, 0 , 0, .4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

nav img {
  max-width: 200px;
  margin-left: 15px;
}

nav ul {
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

nav ul li a, #btn-log {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
}

.menu-li {
  /* border: none; */
  color: #f79c1f;
  padding: 8px 12px;
  margin: 10px;
  /* border-radius: 12px; */
  cursor: pointer;
  transition: all 400ms ease;
}


.menu-li:hover {
  background-color:#f79c1f;
  color:white;
  /* box-shadow: inset 0 0 0 2px white; */
  border-radius: 15px;
}

#btn-log {
  font-weight: 500;
  padding: 10px 14px;
  color: #fff;
  background:#f79c1f;
  border-radius: 15px; 
}

#btn-log:hover {
  content: '';
  /* background: rgba(255,255,255,0.3); */
  background-color: rgba(0,160,227,1);
  border-radius: 15px;
  transition: all 1s ease;
  color:white;
  font-weight: bold;
}

.checkbtn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.banner {
  max-width: 100%;
  height: 600px;
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 5px;
  background-image: url('../assets/images/banner2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  /* padding: 0 70px; */
}

.banner .layer {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1;
}

.boxes-banner {
  width: 100%;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  justify-content: space-around;
  align-items: stretch;
  margin-top: -93px;
}

.box-banner h2 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 17px;
  color: #d0472a;
  /* border: solid 1px white; */
  background-color: white;
  width: 100%;
  
}

.box-banner {
  /* margin-left: 15px; */
  /* height: 140px; */
  height: 187px;
  /* width: 386px; */
  background: #FFF;
  width: 30%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* -webkit-box-shadow: 3px 2px 4px 3px rgba(0,160,227,1);
  -moz-box-shadow: 3px 2px 4px 3px rgba(0,160,227,1);
  box-shadow: 3px 2px 4px 3px rgba(0,160,227,1); */
  z-index: 2;
  cursor: pointer;
}

.box-1 {
  background-image: url('../assets/images/festival-dia-de-los-muertos-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
}

.box-2 {
  background-image: url('../assets/images/guanajuato.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.box-3 {
  background-image: url('../assets/images/paracho-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-banner {
  transition: all .3s;
  box-shadow: 0px 0px 4px 2px rgba(0, 0 , 0, .4);
}

.box-banner:hover {
  transition: .3s;
  transform: scale(1.05);
}

.infos-gerais {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.infos-gerais .info-boxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 25px;
  align-items: stretch;
}

.infos-gerais h2 {
  font-family: 'Rokkit', sans-serif;
  color: #d0472a;

}

.infos-gerais .info-boxes .info-boxes-content {
  width: 30%;
  display: flex;
  justify-content: center;
}

.infos-gerais .info-boxes .info-boxes-content img {
  width: 100%;
  max-width: 260px;
}

.infos-gerais .info-boxes .info-boxes-content p {
  margin-top: 20px;
  font-weight: 300;
  font-family: 'Rokkit', sans-serif;
  color: #246182;
}

.divider {
  margin: 60px 0;
}

.estados {
  margin: 40px;  
}

.estados h2, .estados h3 {
font-family: 'Rokkit', sans-serif;
}

.estados p {
  font-family:'Ubuntu', sans-serif;
}

.estados-img {
  height: 400px;
  width: 300px;
  display: flex;
  margin: 40px;

}

.guanajuato h2 {
  color: #f79c1f;
}

.box-content-guanajuato {
  display: flex;
  justify-content: space-between;
}

.box-content-guanajuato img {
  max-width: 300px;
}

.box-content-guanajuato img {
  width: 30%;
}

.box-content-guanajuato p {
  width: 70%;
}

.guanajuato h3 {
  margin: 40px 0 20px 0;
  color: #f79c1f;
}