* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

input {
  outline: 0;
}

button {
  border: none;
}

ul { 
  list-style-type: none;
}

a {
  text-decoration: none;
}